.Text {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Monospace;
  line-height: 1;
}

/* Display type */
.Text--displayBlock { display: block; }

/* Size */
.Text--sizeSmall  { font-size: 12px; }
.Text--sizeMedium { font-size: 14px; }

/* Text modifiers */
.Text--weightBold  { font-weight: bold; }
.Text--alignLeft   { text-align: left; }
.Text--alignRight  { text-align: right; }
.Text--alignCenter { text-align: center; }

/* Color */
.Text--colorGray { color: var(--color-gray-main); }

