.Text {
  display: block;
  margin: 0;
  padding: 0;
  font-family: Monospace;
  line-height: 1;
}

.Text--inline {
  display: inline;
}

.Text--gray {
  color: var(--color-gray);
}

.Text--small {
  font-size: 12px;
}

.Text--medium {
  font-size: 14px;
}
