.MonthWrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: var(--grid-1);
	list-style-type: none;
  margin: 0;
  padding: 0;
}

.Month {
	display: block;
  background-color: var(--color-white-transparentDimmed);
  padding: var(--grid-2);
}

.Month-name {
  margin: 0;
}

.Month--selected {
  /* background-color: rgba(255, 255, 255, 0.6); */
}

.DaysWrapper {
	list-style-type: none;
  padding: 0;
  margin-top: var(--grid-2);
}

.DaysWrapper-dayNames {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: var(--grid-1) 0;
  justify-content: space-between;
}

.DaysWrapper-days {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  /* grid-gap: var(--grid-1) var(--grid-3); */
  grid-gap: var(--grid-2) 0;
  margin-top: var(--grid-1);
  justify-content: space-between;
}

.Day {
}

.Day--selected {
  position: relative;
  z-index: 0;
}

.Day--selected::after {
  content: '';
  display: block;
  position: absolute;
  /* FIXME */
  left: -2px;
  top: -4px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--color-white-transparentDefault);
  z-index: -1;
}

.Day--selected::before {
  content: '';
  display: block;
  position: absolute;
  /* FIXME */
  left: -6px;
  top: -8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: var(--grid-0-25) solid var(--color-white-transparentBright);
  z-index: -1;
}

.Day--crossed {
	/* text-decoration: line-through; */
}
