.MonthWrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: var(--grid-1);
	list-style-type: none;
  margin: 0;
  padding: 0;
}

.Month {
	display: block;
  background-color: rgba(255, 255, 255, 0.2);
  padding: var(--grid-1);
}

.Month-name {
  text-align: center;
  margin: 0;
}

.Month--selected {
  /* background-color: rgba(255, 255, 255, 0.6); */
}

.DayWrapper {
	list-style-type: none;
  padding: 0;
  margin-top: var(--grid-2);
}

.DayWrapper-dayNames {
  font-weight: bold;
}

.DayWrapper-days {
  margin-top: var(--grid-half);
}

.Day {
	display: inline-block;
	width: calc(100% / 7);
  vertical-align: top;
  margin-top: var(--grid-1);
}

.Day--selected {
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}

.Day--crossed {
	/* text-decoration: line-through; */
}
