.MonthWrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: var(--grid-1);
	list-style-type: none;
  margin: 0;
  padding: 0;
}

.Month {
	display: block;
  background-color: var(--color-whiteTransparentDimmed);
  padding: var(--grid-1);
}

.Month-name {
  text-align: center;
  margin: 0;
}

.Month--selected {
  /* background-color: rgba(255, 255, 255, 0.6); */
}

.DayWrapper {
	list-style-type: none;
  padding: 0;
  margin-top: var(--grid-2);
}

.DayWrapper-dayNames {
  font-weight: bold;
}

.DayWrapper-days {
  margin-top: var(--grid-half);
}

.Day {
	display: inline-block;
	width: calc(100% / 7);
  vertical-align: top;
  margin-top: var(--grid-1);
}

.Day--selected {
  position: relative;
  font-weight: bold;
  z-index: 0;
}

.Day--selected::after {
  content: '';
  display: block;
  position: absolute;
  /* FIXME */
  left: -2px;
  top: -4px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--color-whiteTransparentDefault);
  z-index: -1;
}

.Day--selected::before {
  content: '';
  display: block;
  position: absolute;
  /* FIXME */
  left: -6px;
  top: -8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: var(--grid-quarter) solid var(--color-whiteTransparentBright);
  z-index: -1;
}

.Day--crossed {
	/* text-decoration: line-through; */
}
