/* Shared variables */

:root {
  /* Colors */
  --color-gray-main: gray;
  --color-gray-chrome: #f2f1f0;
  --color-white-transparentDimmed:  rgba(255, 255, 255, 0.2);
  --color-white-transparentDefault: rgba(255, 255, 255, 0.4);
  --color-white-transparentBright:  rgba(255, 255, 255, 0.8);

  /* Dimensions */
  --grid-0-25:  2px;
  --grid-0-5:   4px;
  --grid-1:     8px;
  --grid-1-5:  12px;
  --grid-2:    16px;
  --grid-3:    24px;
  --grid-4:    32px;
  --grid-5:    40px;
  --grid-6:    48px;
  --grid-7:    56px;
  --grid-8:    64px;
  --grid-9:    72px;
  --grid-10:   80px;
}

/* Resets */

body {
  margin: 0;
}

/*
 * better box-sizing: border-box reset
 * @see: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Main container styles */

body {
  background-color: var(--color-gray-chrome);
  position: relative; /* https://stackoverflow.com/questions/8635799/overflow-xhidden-still-can-scroll */
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: var(--grid-1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden; /* Menu is overflowing and is hidden on the right side */
}

.App-content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

.App-menu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 300px;
  height: 100%;
  transition: 0.5s all ease;
}

.App-menu--opened {
  transform: translateX(-100%)
}

.MenuButton {
  position: absolute;
  left: var(--grid-1);
  top: var(--grid-1);
}

.Menu {
  padding: var(--grid-2);
  height: 100%;
  background: var(--color-white-transparentBright);
  box-shadow: 0 0px 3px 3px var(--color-white-transparentDefault);
}

.Menu-textarea {
  display: block;
  width: 100%;
  height: 5em;
  overflow-x: scroll;
  white-space: nowrap;
  resize: none;
}
